@import 'tailwindcss';
@import 'tw-animate-css';

@source '../../../apps/web/*.{ts,tsx}';
@source '../../../components/**/*.{ts,tsx}';
@source '../**/*.{ts,tsx}';

@plugin '@tailwindcss/typography';

:root {
    --primary: #fed430;
    --secondary: #fb4800;

    --ease: linear(
        0 0%,
        0.2342 12.49%,
        0.4374 24.99%,
        0.6093 37.49%,
        0.6835 43.74%,
        0.7499 49.99%,
        0.8086 56.25%,
        0.8593 62.5%,
        0.9023 68.75%,
        0.9375 75%,
        0.9648 81.25%,
        0.9844 87.5%,
        0.9961 93.75%,
        1 100%
    );
}

@theme inline {
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --font-primary: var(--font-primary);
    --font-secondary: var(--font-secondary);
}

@layer components {
    .container {
        margin-left: auto;
        margin-right: auto;
        @apply xl:!max-w-7xl;
    }

    .tt-heading-wrapper {
        @apply relative flex items-center justify-center overflow-hidden;
    }

    .tt-heading-stroke {
        width: 100%;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 2px var(--color-primary);
        text-transform: none;
    }

    .tt-heading-filled {
        clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
        -webkit-text-fill-color: var(--color-primary);
        -webkit-text-stroke: 2px var(--color-primary);
        @apply absolute top-1/2 left-1/2 w-full -translate-1/2 select-none;
    }

    .footer-content-filled {
        clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
        @apply absolute top-1/2 left-1/2 size-full -translate-1/2 select-none;
    }

    .about-image-card {
        clip-path: inset(-100% -100% 0 -100%);
        position: relative;
        touch-action: none;
        margin-top: 3rem;
    }

    .about-image-card {

        ul {
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(calc(var(--swatch-count) + 3), 1fr);
            list-style-type: none;
            padding: 0;
            margin: 0;
            pointer-events: none;
            translate: 0 calc(var(--offset-y) * 1%);
        }

        li {
            position: relative;
            aspect-ratio: 1 / 4;
            pointer-events: all;
            /* --delay: calc(sin(((var(--i)) / var(--swatch-count)) * 45deg) * 1s); */
            /* animation: enter 0.2s var(--delay) var(--ease) both; */

            &.active {
                --power: 1 !important;
                pointer-events: none;
            }
        }
        li button:is(:hover) {
            translate: 0 calc(clamp(0.2, var(--power), 1) * (var(--distance, 40) * -1%));
        }

        @keyframes enter {
            0% {
                translate: 0 100%;
            }
        }

        [data-dark='true'] button {
            color: #fff;
        }
        [data-dark='false'] button {
            color: #000;
        }

        li button {
            container-type: inline-size;
            font-family: 'Reddit Mono', serif;
            font-weight: 600;
            background: var(--color);
            border-radius: 1.2rem;
            width: 400%;
            aspect-ratio: 3/4;
            display: grid;
            place-items: start;
            position: absolute;
            border: 0;
            padding: 1rem;
            rotate: calc(var(--power, 0) * (calc(var(--rotate, 0) * 1deg)));
            translate: 0 calc(clamp(0, var(--power), 1) * (var(--distance, 40) * -1%));
            transition:
                translate 0.12s,
                rotate 0.12s;
            transition-timing-function: var(--ease);
            outline-color: red;
            outline-offset: 0.2em;
            cursor: pointer;

            span {
                pointer-events: none;
                font-size: 10cqi;
                opacity: 0;
                translate: 0 50%;
                transition: all 0.22s var(--ease);
            }
        }

        li button:is(:hover, :focus-visible) span {
            opacity: 1;
            translate: 0 0;
        }
    }

    /* .about-image-card {
        ul {
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(calc(var(--swatch-count)+ 1 ), 1fr);
            list-style-type: none;
            padding: 0;
            margin: 0;
            pointer-events: none;
            translate: 0 calc(var(--offset-y) * 1%);
        }

        li {
            position: relative;
            aspect-ratio: 1 / 4;
            pointer-events: all;
            --delay: calc(sin(((var(--i)) / var(--swatch-count)) * 45deg) * 1s);
            animation: enter 0.2s var(--delay) var(--ease) both;
        }
        li button:hover {
            translate: 0 -50%;
        }

        @keyframes enter {
            0% {
                translate: 0 100%;
            }
        }

        [data-dark='true'] button {
            color: #fff;
        }
        [data-dark='false'] button {
            color: #000;
        }

        li button {
            width: 400%;
            aspect-ratio: 3/4;
            display: grid;
            place-items: start;
            position: absolute;
            border: 0;
            transition: 0.5s;
            span {
                pointer-events: none;
                font-size: 10cqi;
                opacity: 0;
                translate: 0 50%;
                transition: all 0.22s var(--ease);
            }
        }

    } */
}

@layer base {
    html:focus-within {
        scroll-behavior: smooth;
    }

    @media (prefers-reduced-motion: reduce) {
        html:focus-within {
            scroll-behavior: auto;
        }
        *,
        *::before,
        *::after {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
        }
    }

    body {
        overscroll-behavior-y: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        @apply font-primary text-base text-white md:text-lg xl:text-xl;
        background-color: #1a1a1a;
        /* background-color: #090909; */
        /* bg-[#090909] */
        &::-webkit-scrollbar {
            display: none;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h4,
    .h6 {
        @apply font-secondary font-bold;
    }

    h1,
    .h1 {
        @apply text-[100px] leading-[0.95] lg:text-[180px] xl:text-[210px] 2xl:text-[310px];
    }

    h2,
    .h2 {
        @apply text-[80px] leading-[0.95] lg:text-[180px] 2xl:text-[210px];
    }

    h3,
    .h3 {
        @apply text-[40px] leading-[0.95] lg:text-[80px];
    }

    h4,
    .h4 {
        @apply text-[28px] leading-[0.95] lg:text-[40px];
    }

    ::selection {
        background: oklch(0.85 0.05 262);
        color: oklch(0.2 0 0);
    }

    /* optional scrollbar polish */
    *::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    *::-webkit-scrollbar-track {
        background: transparent;
    }
    *::-webkit-scrollbar-thumb {
        background-color: oklch(0.85 0 0);
        border-radius: 8px;
        border: 2px solid transparent;
        background-clip: content-box;
    }

    html.lenis,
    html.lenis body {
        height: auto;
    }

    .lenis:not(.lenis-autoToggle).lenis-stopped {
        overflow: clip;
    }

    .lenis [data-lenis-prevent],
    .lenis [data-lenis-prevent-wheel],
    .lenis [data-lenis-prevent-touch] {
        overscroll-behavior: contain;
    }

    .lenis.lenis-smooth iframe {
        pointer-events: none;
    }

    .lenis.lenis-autoToggle {
        transition-property: overflow;
        transition-duration: 1ms;
        transition-behavior: allow-discrete;
    }

    html.lenis-is-scrolling {
        /* body {
            ::-webkit-scrollbar-thumb {
                background: rgba(90, 90, 90);
            }

            ::-webkit-scrollbar-track {
                background: rgba(0, 0, 0, 0.2);
            }
        } */
    }
}

@layer components {
    .glint-card {
        @apply relative backface-hidden transform-3d;
    }
    .glint-card-hover {
        &:hover {
            .glint-card-wrapper {
                &::after {
                    opacity: 1;
                    animation: border-spin 6s linear infinite;
                    will-change: transform;
                }
            }
        }
    }

    .glint-card-content {
        background: url(/images/bg-image.webp) center center / cover;
        @apply relative z-10 flex size-full items-center justify-center rounded-4xl p-6 text-center backface-hidden;
    }

    .glint-card-wrapper {
        /* background: url(/images/bg-image.webp) center center / cover; */
        @apply relative size-full overflow-hidden rounded-4xl p-px backface-hidden;

        &::before {
            z-index: 1;
            background: radial-gradient(circle, #565656 0% 100%);
            @apply pointer-events-none absolute -top-1/2 -left-1/2 h-[200%] w-[200%] content-[''];
        }

        &::after {
            content: '';
            opacity: 0;
            will-change: auto;
            z-index: 2;
            background: conic-gradient(
                #0000 50deg,
                #fff6,
                #fffc,
                #fff6 110deg,
                #0000 130deg 230deg,
                #fff6 250deg,
                #fffc,
                #fff6,
                #0000 310deg
            );
            border-radius: 1rem;
            width: 200%;
            height: 200%;
            transition: all 0.5s;
            animation: none;
            position: absolute;
            top: -50%;
            left: -50%;
        }
    }

    .glint-card-title {
        @apply absolute bottom-8 left-1/2 -translate-x-1/2 uppercase;
    }

    .glint-card-front {
        @apply flex min-h-full flex-col items-center justify-center;
    }

    .glint-card-back {
        @apply rotate-y-180 flex-col items-center justify-center bg-black text-center;
    }

    .glint-card-front,
    .glint-card-back {
        @apply pointer-events-auto absolute inset-0 size-full rounded-4xl backface-hidden;
    }

    .skill-card {
        @apply flex size-full flex-col justify-stretch gap-1;

        li {
            @apply relative flex size-full h-full items-center justify-center rounded uppercase;
            &::before {
                background: url(/images/img-skill-frame.svg) center center / contain no-repeat;
                @apply absolute inset-0 content-[''];
            }
        }
    }

    @keyframes border-spin {
        to {
            transform: rotate(360deg);
        }
    }

    .spinning-text {
        div {
            /* vertical-align: top; */
        }
        .clone-text {
            position: absolute;
            left: 0;
            top: 0;
        }

        span {
            div {
                @apply overflow-hidden;
            }
        }

        h2,
        &.h2 {
            .original-text,
            .clone-text {
                @apply leading-[140px] 2xl:leading-[170px];
            }
        }
    }

    .projects-menu-dots {
        .menu-dot {
            /* --progress-percent: 0%; */

            &:first-of-type {
                margin-top: 0 !important;
            }

            &:last-of-type {
                margin-bottom: 0 !important;
            }

            &.active-enter {
                &::before {
                    width: 0.75rem !important;
                    height: 0.75rem !important;
                    left: -5.5px !important;
                }
            }

            &.active {
                opacity: 1 !important;
                &::before {
                    opacity: 1 !important;
                }
                span {
                    opacity: 1 !important;
                }
            }
        }
    }
}

@layer utilities {
    .smooth-scroll {
        scroll-behavior: smooth;
    }
}
