@import 'tailwindcss';
@import 'tw-animate-css';

@source '../../../apps/web/*.{ts,tsx}';
@source '../../../components/**/*.{ts,tsx}';
@source '../**/*.{ts,tsx}';

@plugin '@tailwindcss/typography';

:root {
    --primary: #fed430;
    --secondary: #fb4800;

    --ease: linear(
        0 0%,
        0.2342 12.49%,
        0.4374 24.99%,
        0.6093 37.49%,
        0.6835 43.74%,
        0.7499 49.99%,
        0.8086 56.25%,
        0.8593 62.5%,
        0.9023 68.75%,
        0.9375 75%,
        0.9648 81.25%,
        0.9844 87.5%,
        0.9961 93.75%,
        1 100%
    );
}

@theme inline {
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --font-primary: var(--font-primary);
    --font-secondary: var(--font-secondary);
}
@layer base {
    @media (prefers-reduced-motion: reduce) {
        html:focus-within {
            scroll-behavior: auto;
        }
        *,
        *::before,
        *::after {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
        }
    }

    body {
        overscroll-behavior-y: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        @apply font-primary text-sm text-white md:text-lg xl:text-xl;
        background-color: #1a1a1a;
        /* background-color: #090909; */
        /* bg-[#090909] */
        &::-webkit-scrollbar {
            display: none;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h4,
    .h6 {
        @apply font-secondary font-bold;
    }

    h1,
    .h1 {
        @apply text-[100px] leading-[0.95] lg:text-[180px] xl:text-[210px] 2xl:text-[310px];
    }

    h2,
    .h2 {
        @apply text-[64px] leading-[0.95] md:text-[100px] lg:text-[180px] 2xl:text-[210px];
    }

    h3,
    .h3 {
        @apply text-[40px] leading-[0.95] lg:text-[80px];
    }

    h4,
    .h4 {
        @apply text-[28px] leading-[0.95] lg:text-[40px];
    }

    h5,
    .h5 {
        @apply text-[20px] leading-[0.95] lg:text-[24px];
    }

    ::selection {
        background: oklch(0.85 0.05 262);
        color: oklch(0.2 0 0);
    }

    /* optional scrollbar polish */
    *::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    *::-webkit-scrollbar-track {
        background: transparent;
    }
    *::-webkit-scrollbar-thumb {
        background-color: oklch(0.85 0 0);
        border-radius: 8px;
        border: 2px solid transparent;
        background-clip: content-box;
    }

    html.lenis,
    html.lenis body {
        height: auto;
    }

    .lenis:not(.lenis-autoToggle).lenis-stopped {
        overflow: clip;
    }

    .lenis [data-lenis-prevent],
    .lenis [data-lenis-prevent-wheel],
    .lenis [data-lenis-prevent-touch] {
        overscroll-behavior: contain;
    }

    .lenis.lenis-smooth iframe {
        pointer-events: none;
    }

    .lenis.lenis-autoToggle {
        transition-property: overflow;
        transition-duration: 1ms;
        transition-behavior: allow-discrete;
    }

    html.lenis-is-scrolling {
        /* body {
            ::-webkit-scrollbar-thumb {
                background: rgba(90, 90, 90);
            }

            ::-webkit-scrollbar-track {
                background: rgba(0, 0, 0, 0.2);
            }
        } */
    }

    .container {
        @apply mx-auto px-4 md:max-w-none xl:!max-w-7xl;
    }
}

@layer components {
    .glint-card {
        @apply relative backface-hidden transform-3d;
    }
    .glint-card-hover {
        &:hover {
            .glint-card-wrapper {
                &::after {
                    opacity: 1;
                    animation: border-spin 6s linear infinite;
                    will-change: transform;
                }
            }
        }
    }

    .glint-card-content {
        background: url(/images/bg-image.webp) center center / cover;
        @apply relative z-10 flex size-full items-center justify-center rounded-4xl p-6 text-center backface-hidden;
    }

    .glint-card-wrapper {
        /* background: url(/images/bg-image.webp) center center / cover; */
        @apply relative size-full overflow-hidden rounded-4xl p-px backface-hidden;

        &::before {
            z-index: 1;
            background: radial-gradient(circle, #565656 0% 100%);
            @apply pointer-events-none absolute -top-1/2 -left-1/2 h-[200%] w-[200%] content-[''];
        }

        &::after {
            content: '';
            opacity: 0;
            will-change: auto;
            z-index: 2;
            background: conic-gradient(
                #0000 50deg,
                #fff6,
                #fffc,
                #fff6 110deg,
                #0000 130deg 230deg,
                #fff6 250deg,
                #fffc,
                #fff6,
                #0000 310deg
            );
            border-radius: 1rem;
            width: 200%;
            height: 200%;
            transition: all 0.5s;
            animation: none;
            position: absolute;
            top: -50%;
            left: -50%;
        }
    }

    .glint-card-title {
        @apply absolute bottom-8 left-1/2 -translate-x-1/2 uppercase;
    }

    .glint-card-front {
        @apply flex min-h-full flex-col items-center justify-center;
    }

    .glint-card-back {
        @apply rotate-y-180 flex-col items-center justify-center bg-black text-center;
    }

    .glint-card-front,
    .glint-card-back {
        @apply pointer-events-auto absolute inset-0 size-full rounded-4xl backface-hidden;
    }

    .skill-card {
        @apply flex size-full flex-col justify-stretch gap-1;

        li {
            @apply relative flex size-full h-full items-center justify-center rounded uppercase;
            &::before {
                background: url(/images/img-skill-frame.svg) center center / contain no-repeat;
                @apply absolute inset-0 content-[''];
            }
        }
    }

    @keyframes border-spin {
        to {
            transform: rotate(360deg);
        }
    }

    .spinning-text {
        div {
            /* vertical-align: top; */
        }
        .clone-text {
            position: absolute;
            left: 0;
            top: 0;
        }

        span {
            div {
                @apply overflow-hidden;
            }
        }

        h2,
        &.h2 {
            .original-text,
            .clone-text {
                @apply leading-[140px] 2xl:leading-[170px];
            }
        }
    }

    .projects-menu-dots {
        .menu-dot {
            /* --progress-percent: 0%; */

            &:first-of-type {
                margin-top: 0 !important;
            }

            &:last-of-type {
                margin-bottom: 0 !important;
            }

            &.active-enter {
                &::before {
                    width: 0.75rem !important;
                    height: 0.75rem !important;
                    left: -5.5px !important;
                }
            }

            &.active {
                opacity: 1 !important;
                &::before {
                    opacity: 1 !important;
                }
                span {
                    opacity: 1 !important;
                }
            }
        }
    }
    .tt-image {
        @apply relative h-auto w-full overflow-hidden pb-[65%];
        > div,
        amp-img,
        img {
            @apply absolute top-0 left-0 h-full w-full object-cover object-center;
        }
    }

    .tt-heading-wrapper {
        @apply relative flex items-center justify-center overflow-hidden;
    }

    .tt-heading-stroke {
        width: 100%;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 2px var(--color-primary);
        text-transform: none;
    }

    .tt-heading-filled {
        clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
        -webkit-text-fill-color: var(--color-primary);
        -webkit-text-stroke: 2px var(--color-primary);
        @apply absolute top-1/2 left-1/2 w-full -translate-1/2 select-none;
    }

    .footer-content-filled {
        clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
        @apply size-full select-none lg:absolute lg:top-1/2 lg:left-1/2 lg:-translate-1/2;
    }

    .about-card {
        clip-path: inset(-100% -100% 0 -100%);
        position: relative;
        touch-action: none;
    }

    .about-card {
        ul {
            --offset-y: 5;
            --distance: 16;
            --rotate: -10deg;
            translate: 0 calc(var(--offset-y) * 1%);
            @apply pointer-events-none mx-auto flex list-none grid-cols-2 md:grid-cols-3 lg:grid lg:grid-cols-4;

            @media (min-width: 768px) {
                --offset-y: 25;
            }

            @media (min-width: 1024px) {
                --offset-y: 10;
                grid-template-columns: repeat(calc(var(--swatch-count) + 4), 1fr);
            }

            @media (min-width: 1280px) {
                --offset-y: 30;
            }
        }

        li {
            position: relative;
            aspect-ratio: 1;
            pointer-events: all;
            /* --delay: calc(sin(((var(--i)) / var(--swatch-count)) * 45deg) * 1s); */
            /* animation: enter 0.2s var(--delay) var(--ease) both; */
            transition: 0.5s opacity;
            &.active {
                /* --power: 1 !important; */
                pointer-events: none;
                translate: 0 -50%;
            }
            &[data-active='true'] {
                opacity: 0;
                pointer-events: none;
            }

            @media (max-width: 1023px) {
                @apply w-[50%] shrink-0 md:w-[33%];
            }

            @media (max-width: 767px) {
                &:nth-of-type(n + 3) {
                    @apply pointer-events-none opacity-0;
                }
            }

            @media (min-width: 768px) and (max-width: 1023px) {
                &:nth-of-type(n + 4) {
                    @apply pointer-events-none opacity-0;
                }
            }
        }
        li button:is(:hover) {
            /* rotate: calc(var(--power, 2) * (calc(var(--rotate, 0) * 1deg))); */
            /* translate: 0 calc(clamp(0.2, var(--power), 1) * (var(--distance, 40) * -1%)); */
            translate: 0 calc(-4% * var(--i));
        }

        @keyframes enter {
            0% {
                translate: 0 100%;
            }
        }

        /* [data-dark='true'] button {
            color: #fff;
        }
        [data-dark='false'] button {
            color: #000;
        } */

        li button {
            container-type: inline-size;
            aspect-ratio: 3/4;
            /* rotate: calc(var(--power, 2) * (calc(var(--rotate, 0) * 1deg))); */
            rotate: -5deg;
            /* translate: 0 calc(clamp(0, var(--power), 1) * (var(--distance, 40) * -1%)); */
            translate: 0 0;
            transition:
                translate 0.3s,
                rotate 0.3s;
            transition-timing-function: var(--ease);
            @apply absolute w-[115%] md:w-[150%] lg:w-[250%];
        }

        li button:is(:hover, :focus-visible) span {
            opacity: 1;
            translate: 0 0;
        }

        li {
            &:not(:first-of-type) {
                @apply lg:ml-40;
                /* button {
                } */
            }
        }
    }

    .about-wrapper {
        .swatches {
            li {
                > button > div {
                    @apply grid translate-y-full cursor-pointer place-items-start rounded-xl border-0 bg-neutral-800/50 p-2 transition-transform duration-500;
                }

                &:nth-of-type(1) button > div {
                    transition-delay: 0ms;
                }
                &:nth-of-type(2) button > div {
                    transition-delay: 60ms;
                }
                &:nth-of-type(3) button > div {
                    transition-delay: 120ms;
                }
                &:nth-of-type(4) button > div {
                    transition-delay: 180ms;
                }
                &:nth-of-type(5) button > div {
                    transition-delay: 240ms;
                }
                &:nth-of-type(6) button > div {
                    transition-delay: 300ms;
                }
                &:nth-of-type(7) button > div {
                    transition-delay: 360ms;
                }
                &:nth-of-type(8) button > div {
                    transition-delay: 420ms;
                }
                &:nth-of-type(9) button > div {
                    transition-delay: 480ms;
                }
                &:nth-of-type(10) button > div {
                    transition-delay: 540ms;
                }
                &:nth-of-type(11) button > div {
                    transition-delay: 600ms;
                }
            }
        }

        &.active-scroll {
            .swatches {
                li > button > div {
                    @apply translate-y-0;
                }
            }
        }
    }

    #sound-bars {
        > div {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 40px;
            width: 40px;
            min-width: 40px;
            min-height: 40px;
            padding-bottom: 12px;
            border-radius: 100%;
            background: rgba(255, 255, 255, 0.2);
            cursor: pointer;

            span {
                background: #fff;
                margin: auto 1px 0;
                height: 12px;
                width: 2px;
                min-width: 2px;
                display: block;
                transform: scaleY(0.99);
                transform-origin: bottom;
                box-shadow: 0 4px 0 rgba(255, 255, 255, 0.2);
                transition: all 0.4s ease-in-out;

                &:nth-child(1) {
                    transform: scaleY(0.8);
                }
                &:nth-child(2) {
                    transform: scaleY(0.6);
                }
                &:nth-child(4) {
                    transform: scaleY(0.4);
                }
            }

            &:not(.paused) > span {
                animation: sound-bars-animation 2s 2 alternate infinite;

                &:nth-child(1) {
                    animation-delay: 0.4s;
                }
                &:nth-child(2) {
                    animation-delay: 0.2s;
                }
                &:nth-child(3) {
                    animation-delay: 0.6s;
                }
                &:nth-child(4) {
                    animation-delay: 0.8s;
                }
            }
            /* 
            &:before {
                content: '';
                position: absolute;
                inset: 0;
                transform-origin: center;
                background: #fff;
                border-radius: 100%;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                transform: scale(0);
            }

            &:hover {
                &:before {
                    transform: scale(1);
                }

                > span {
                    background: #000;
                }
            } */

            &.paused > span {
                opacity: 0.2;
                transform: scaleY(0.2);
            }
        }
    }
    .gradient {
        position: relative;
        z-index: 0;
        overflow: hidden;
    }
    .gradient::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background: linear-gradient(180deg, transparent 0%, #fff 100%);
        background-size: 200% 280%;
        pointer-events: none;
        transform: translateY(-100%);
        transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
        @media (max-width: 1023px) {
            transform: translateY(0);
        }
    }

    .gradient:hover::before,
    .gradient:focus-visible::before {
        transform: translateY(0);
    }
}

@layer utilities {
    .smooth-scroll {
        scroll-behavior: smooth;
    }

    .font-style-normal {
        font-style: normal;
    }
}
